	
	body {
	background-image: url("https://images.unsplash.com/photo-1544381374-696388b11cda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    } 

    .header {
	padding-bottom: 10px;
	text-align: center;
	background: black;
	background-color: transparent;
    color: white;
	font-size: 25px;
	font-family: 'Orbitron', sans-serif;
    }

	h1{
	text-align: center;
	
	
	}
	

	h2{
	font-size: 10px;
	font-family: 'Major Mono Display', monospace;
	-moz-transform: translate(0px, -30px);
-webkit-transform: translate(0px, -30px);
-o-transform: translate(0px, -30px);
-ms-transform: translate(0px, -30px);
transform: translate(0px, -30px);
text-align: center;
	}

	p{
	text-align: center;
	margin-bottom: 32px;
	color: white; 
    }

	#text{
	background-color:white;
	text-align: center;
	margin-bottom: 32px;
	-webkit-border-radius: 19px;
-moz-border-radius: 19px;
border-radius: 19px;
opacity: 0.5;
filter: alpha(opacity=70);

	}
	
	#print_text{
		background-color:white;
		text-align: center;
		-webkit-border-radius: 19px;
-moz-border-radius: 19px;
border-radius: 19px;
opacity: 0.5;
filter: alpha(opacity=70);
		
		}

	
	

	button.oneb{
		background-color: gray;
		text-align: center;
		color: white;
		font-size: 12px;
		padding: 14px 40px;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		border: 0px outset rgba(28,110,164,0.18);
		border-radius: 40px 40px 40px 40px;  
		opacity: 0.5;
		filter: alpha(opacity=70);
	}
	 
	button:hover{
	background-color: white;
	color: black;	


	} 

	button.twob{
	background-color: gray;
		text-align: center;
		color: white;
		font-size: 12px;
		padding: 14px 40px;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		border: 0px outset rgba(28,110,164,0.18);
		border-radius: 40px 40px 40px 40px; 
		opacity: 0.5;
		filter: alpha(opacity=70); 
	}
	button:hover{
		background-color: white;
		color: black;	
	
	
		} 

	button.threeb{
		background-color: gray;
		text-align: center;
		color: white;
		font-size: 12px;
		padding: 14px 40px;
    	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		border: 0px outset rgba(28,110,164,0.18);
		border-radius: 40px 40px 40px 40px;   
		opacity: 0.5;
		filter: alpha(opacity=70);
	

	}
	button:hover{
		background-color: white;
		color: black;	
	
	
		} 

		button.helpus{
			background-color: black;
			text-align: center;
			color: white;
			font-size: 12px;
			padding: 14px 40px;
			box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
			border: 0px outset rgba(28,110,164,0.18);
			border-radius: 40px 40px 40px 40px;  
			opacity: 0.5;
			

		}

		button:hover{
			background-color: white;
			color: black;
		}

		button.goback{
			background-color: black;
			text-align: center;
			color: white;
			font-size: 12px;
			padding: 14px 40px;
			box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
			border: 0px outset rgba(28,110,164,0.18);
			border-radius: 40px 40px 40px 40px;  
			opacity: 0.5;
			filter: alpha(opacity=70);
			-moz-transform: translate(50px, 50px);
-webkit-transform: translate(50px, 50px);
-o-transform: translate(50px, 50px);
-ms-transform: translate(50px, 50px);
transform: translate(-289px, -170px);
		}

		button:hover{
			background-color: white;
			color: black;
		}
		
	 .hide{
		display: none; 
	}
       
    .instructions{
	background-color: black;	

	}

	article{
		background-color:white;
		text-align: center;
		-webkit-border-radius: 19px;
-moz-border-radius: 19px;
border-radius: 19px;
opacity: 0.5;
filter: alpha(opacity=70);
padding: 15%;
margin: 12%;
-moz-transform: scale(0.5) translate(27px, -6px);
-webkit-transform: scale(0.5) translate(27px, -6px);
-o-transform: scale(0.5) translate(27px, -6px);
-ms-transform: scale(0.5) translate(27px, -6px);
transform: scale(0.5) translate(11px, -373px);
	}